@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arvo', serif;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
}

svg, img{
    max-width: 100%;
    height: auto;
}

body{
    background-color: rgba(19, 29, 59, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    
}

.cabecalho-menu{
    display: flex; 
    gap: 80px; 
    font-weight: 500;
    font-size: 15px;
    font-family: 'Arvo', serif;
}

.cabecalho-menu-item{
    color: white;
    cursor: url(img/icons8-hammer-48.png), auto;
    
}

.cabecalho-menu-item:hover{
    background-color: rgba(236, 28, 36, 1);
    color: white;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 11px 21px 24px 3px rgba(0,0,0,0.75);
    border-radius: 50px;
    background: rgba(236, 28, 36, 1);
    cursor: url(img/icons8-hammer-48.png), auto;
}

.item1{
    margin-left: 200px;
}

.conteudo-principal-esquerda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.conteudo-principal-escrito{
    text-align: left;
    margin-left: 150px;
    margin-right: 10px;
}

.titulo-principal{
    font-family: 'Bebas Neue', cursive;
    color: #ffff;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.subtitulo{
    font-family: 'Merriweather', serif;
    color: #ffff;
}
.botao-conteudo-principal{
    margin-bottom: 95px;
    margin-top: 75px;
    background-color: rgba(236, 28, 36, 1); 
    color: #ffff;
    border: none;
    width: 170px;
    height: 40px;
    border-radius: 18px;
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

.botao-conteudo-principal:hover{
    border: 2px solid #ffff;
}

.principal-secundario-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    color: #ffff;
}

.secundario-titulo{
    color: #ffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

.secundario-caixas{
    display: grid;
    grid-template:
    'cx1 cx2 cx3' ;
    grid-gap: 30px;
}

.conteudo-principal-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
}

.imgconstrucao{
    width: 200px;
    height: 150px;
}

.caixa1{
    grid-area: cx1;
    border-radius: 20px;
    border-radius: 20px;
    background: #131D3B;
    box-shadow: 11px 21px 22px 0px rgba(0,0,0,0.75);
}

.caixa2{
    grid-area: cx2;
    background-color: #070c1a;
    border-radius: 20px;
    background: #070c1a;
    box-shadow: 11px 21px 22px 0px rgba(0,0,0,0.75);

}

.caixa3{
    grid-area: cx3;
    border-radius: 20px;
    border-radius: 20px;
    background: #131D3B;
    box-shadow: 11px 21px 22px 0px rgba(0,0,0,0.75);
}

.caixa1, .caixa2, .caixa3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 300px;
    height: 350px;
    color: #ffff;

}
.caixa1:hover, .caixa3:hover{
    border: 4px solid #192447;
}
.caixa2:hover{
    border: 4px solid #04102e;
}

.titulo-caixa{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec-botao-caixa{
    background-color: rgba(236, 28, 36, 1);
    color: #ffff;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 18px;
    font-size: 14px;
}

.sec-botao-caixa:hover{
    border: 1px solid #ffff;
}